@model EmployeeListPagination<EmployeeIndexViewModel>
<div class="container">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Employee List</li>
                        </ol>
                    </nav>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-12 table-responsive-md">
                            <h4>Employee</h4>
                            <a class="btn btn-success float-right" asp-action="Create">New Employee</a>
                            <br />
                            <br />
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>
                                            Employee No
                                        </td>
                                        <td>
                                            Photo
                                        </td>
                                        <td>
                                            Name

                                        </td>
                                        <td>
                                            Gender
                                        </td>
                                        <td>
                                            Date Joined
                                        </td>
                                        <td>
                                            Designation
                                        </td>
                                        <td>
                                            City
                                        </td>
                                        <td class="text-warning" style="width:130px">
                                            Action
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.EmployeeNo</td>
                                            <td><img alt="Image" src="@Url.Content(item.ImageUrl)" /></td>
                                            <td>@item.FullName</td>
                                            <td>@item.Gender</td>
                                            <td>@item.DateJoined.ToString("dd/mm/yyyy")</td>
                                            <td>@item.Designation</td>
                                            <td>@item.City</td>
                                            <td>
                                                <a class="text-primary" asp-action="Edit" asp-controller="Employee" asp-route-id="@item.Id">Edit</a>
                                                <a class="text-info " asp-action="Details" asp-controller="Employee" asp-route-id="@item.Id">Details</a>
                                                <a class="text-danger" asp-action="Delete" asp-controller="Employee" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @{
                                var DisablePrevious = !Model.IsPreviousPageAvailabe ? "disabled" : "";
                                var DisableNext = !Model.IsNextPageAvailabe ? "disabled" : "";
                            }<br />
                            <br />
                            <br />
                            <a asp-action="Index" asp-route-PageNumber="@(Model.PageIndex - 1)" class="btn btn-primary @DisablePrevious">
                                Previous
                            </a>
                            <a asp-action="Index" asp-route-PageNumber="@(Model.PageIndex + 1)" class="btn btn-primary @DisableNext">
                                Next
                            </a>
                        </div>
                    </div>
                    <br />
                    <br /><br /><br /><br />
                </div>
            </div>
        </div>

    </div>
</div>
